.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 500px;
  margin: 50px auto;
  padding: 10px;
  border-radius: 8px;
}
.App h1{
  font-size: 40px;
  text-align: center;
}
.form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px
}
.form input[type="text"]{
  padding:10px;
  width: 85%;
  border: 1px solid #eee;
  border-radius: 6px;
}
.form input[type="text"]:focus,
.form button[type="submit"]:focus{
  outline:none;
}
.form button[type="submit"]{
  background-color:  #008080;
  color: #3fb972f1;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer
}
.todo-listItems{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.todo-item{
  position: relative;
  background-color: blueviolet;
  padding: 10px;
	border-radius: 16px;
  display:flex;
  transition: 0.5s;
	cursor: pointer;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px
}
.todo-item:hover{
  opacity: 0.9;
  background-color: goldenrod;
  font-size: large;
 
}

.todo-item .checkbox {
	width: 20px;
	height: 20px;
	margin-right: 16px;
	border-radius: 50%;
	background-color: black;
	background-image: linear-gradient(to bottom, transparent, transparent);
	transition: 0.4s;
}


.item-content{
  width: 60%
}
.todo-item button{
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px
}
.todo-item button:focus{
  outline:none
}
.update-item{
  background-color: goldenrod;
  color:#fff;
}
.delete-item{
  background-color: red;
  color:#fff;
}
.update-form{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.update-new-input{
  width: 80%;
  border-radius: 6px;
  border: 1px solid #eee;
  padding: 8px;
  outline: none;
}
.update-new-btn{
  background-color: darkorchid;
  color: #fff;
  cursor: pointer;
}